@font-face {
  font-family: "PokemonHollow";
  src: local("PokemonHollow"),
  url("./asets/Pokemon Hollow.ttf") format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: "PokemonSolid";
  src: local("PokemonSolid"),
  url("./asets/Pokemon Solid.ttf") format("truetype");
  font-weight: bold;
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  background: rgb(214,212,20);
  background: linear-gradient(90deg, rgb(197 195 28) 0%, rgb(191 25 25) 100%);
}

#root {
    width: 100%;
}
